<div
  class="relative h-screen bg-gradient-to-r from-purple-500 via-pink-500 to-red-500"
>
  <div class="absolute inset-0 bg-black opacity-40"></div>

  <div
    class="relative z-10 flex flex-col items-center justify-center h-full text-center text-white"
  >
    <h1
      class="text-5xl md:text-6xl font-extrabold tracking-tight mb-4 drop-shadow-lg font-sans"
    >
      Welcome to MiniGram
    </h1>
    <p
      class="text-xl md:text-2xl mb-6 max-w-lg mx-auto px-4 opacity-90 font-sans"
    >
      Connect, share photos, and explore the world around you.
    </p>
    <button
      (click)="navigateToLogin()"
      class="px-10 py-5 bg-white text-gray-800 rounded-full text-xl font-semibold border-2 border-transparent transition-all duration-300 ease-out transform hover:scale-110 hover:bg-white hover:border-2 hover:border-gradient-to-r hover:from-blue-500 hover:to-indigo-600 shadow-lg hover:shadow-2xl focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 active:scale-95"
    >
      Login
    </button>
  </div>
</div>
