<div class="max-w-3xl mx-auto px-4 py-8">
  <h1 class="text-3xl font-bold mb-6">Photo Feed</h1>

  <div *ngIf="loading" class="text-center text-gray-500">Loading...</div>
  <div *ngIf="error" class="text-red-500">{{ error }}</div>

  <div *ngIf="!loading && photos.length === 0" class="text-center my-12">
    <p class="text-gray-500 text-lg mb-4">It’s empty here 😢</p>
    <a
      routerLink="/upload"
      class="inline-block px-6 py-3 bg-pink-500 text-white rounded-full text-sm font-semibold shadow hover:bg-pink-600 transition"
    >
      Upload something
    </a>
  </div>

  <div
    *ngFor="let photo of photos"
    class="mb-8 p-4 rounded-xl bg-white shadow relative"
  >
    <img
      [src]="getImageSrc(photo)"
      [alt]="photo.description || 'User photo'"
      class="w-full rounded-lg object-cover max-h-[500px] cursor-pointer"
      (click)="openContextMenu(photo.id)"
    />
    <div class="mt-4 flex flex-row justify-between items-center">
      <div>
        <p class="text-sm text-gray-700">
          {{ photo.description || "No description" }}
        </p>
        <p class="text-xs text-gray-500">
          Uploaded: {{ photo.createdAt | date : "medium" }}
        </p>
      </div>
      <div class="flex justify-end gap-4 items-center mt-4">
        <button
          (click)="likePhoto(photo.id)"
          class="bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600 focus:outline-none"
        >
          Vote
        </button>
        <span class="text-gray-500">{{ photo.votes }} Votes</span>
      </div>
    </div>

    <!-- Context Menu -->
    <div
      *ngIf="activePhotoId === photo.id"
      class="absolute top-0 right-0 mt-2 mr-2 bg-white shadow-lg rounded-lg p-2 w-48"
      (click)="closeContextMenu()"
    >
      <button
        class="w-full text-left p-2 hover:bg-gray-200"
        (click)="editPhoto(photo.id)"
      >
        Edit
      </button>
      <button
        class="w-full text-left p-2 text-red-500 hover:bg-gray-200"
        (click)="deletePhoto(photo.id)"
      >
        Delete
      </button>
    </div>
  </div>
</div>
